html, body, main {
    height: 100%;
    background-color: black;
    color: white; 

}
/*my favorite quote*/
#hero {
    margin-top: 70px;
    background-image: url('../IMG/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%; 
    text-align: center; 
}
/*About section*/
.about {
    margin-top: 40px; 
    margin-bottom: 40px;
    text-align: center; 
}
.about img {
    width: 100%; 
    padding-right: 50px; 
}
/*map of kaufman*/
.kaufman{
    text-align: center;
    font-family: 'Open Sans';
}
/*laptop view*/
.col-md-3 {
    width: 25%; 
    text-align: center; 
}
/*my interests*/
.interest {
    text-align: center; 
    width: 100%; 
}
.interest {
    max-width: 100%;
    height: auto;
}
h1, h2, h3 {
    font-family: 'Quicksand', sans-serif;
}
p {
    font-family: 'Amatic', sans-serif;
}
q {
    font-family: 'Open Sans', sans-serif; 
}
.abilities {
    font-family: 'Quicksand', sans-serif;
}
#enemy {
    margin-top: 70px;
    background-image: url('../IMG/bottom-hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 75%; 
    text-align: center;
}

/*phone view*/
@media (max-width: 620px) 
    {  .col-sm-12: 
{   width: 100%; 
    }
}
/*tablet view*/
/*@media (max-width: 991px)
{   .col-sm-6 {
    width: 50%;
}
    
}*/





