/*take out all borders when done, but not button border*/
body {
    font-family: "Carme", sans-serif;
    color: white;
    font-size: 40px;
    background-color: black;
}
/*header&nav*/
.clear-fix:after {
    content: "";
    display: block;
    clear: both;
    overflow: auto;
}
    
header {
    border: 2px green solid;
    width: 100%;
    height: 300px;
    margin-bottom: 0px;
}
header h1 {
    font-size: 100px;
    float: left;
    margin-top: 100px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border: 2px green solid;
}
header a {
    font-size: 80px;
    float: right;
    margin-top: 100px;
    margin-bottom: 0px;
    margin-left: 20px;
    padding-bottom: 0px;
    text-decoration: none; 
    border: 2px green solid;
}
/*vintagepicture-whole*/
.wholepg {
    background-image:  url(../img/austinmoto-bike1.2vintage.jpg);
    box-shadow: inset 10000px 10000px rgba(0,0,0,0.2);
    padding: 650px 600px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border: 2px red solid;
    font-size: 100px;
}
.bb {
    border: 2px aqua solid;
    width: 500px;
    height: 200px;
    margin: 20px 20px;
    font-size: 50px;
}
/*2nd section*/
.second {
    border: green 2px solid;
    font-size: 60px;
    font-family: sans-serif;
    margin-top: 400px; 
}
#logo {
    float: left;
    width: 1000px;
    height: 1000px;
    border: green 2px solid;
    margin-right: 500px;
    text-align: center;
}
#logo div div {
    margin-top: 200px;
}
#logo h2 {
    float: right;
    font-size: 100px; 
}

#logo p {
    float: right;
    white-space: pre-wrap;
    text-align: center;
}
.four {
    width: 22%;
    text-align: center;
    float: left;
    font-size: 25px;
}
#austin {
    margin-top: 200px;
    padding-top: 100px;
}
/*3rd section*/
#third  {
    float: left;
    margin-top: 400px;
    margin-left: 200px;
    font-size: 40px;
    border: yellow;
}

#third div {
    background-color: grey;
    border: yellow;
   /* width: 1000px;
    height: 500px; */
    text-align: center;
    margin-right: 120px;
    font-size: 50px;
}
#third div img {
    width: 100%
}
/*4th section*/
.social {
    float: left;
    margin-top: 400px;
    font-size 50px;
    border: white 2px solid;
    background-color: #5C5C8A;
    width: 100%;  
}
.social div {
    text-align: center;
    padding-right: 300px; 
    border: white 2px solid;
}
.social h2 {
    font-size: 100px;
}
.social div img {
    width: 1000px; 
    height: 400px; 
    padding-left: 60px;
}
.social time {
    float: right;
} 

#facebook {
    float: left; 
    width: 50%;
}
/*footer*/
footer {
    background-position: bottom;
    
}
.question {
    background-image: url('../img/austinmoto-bike4.jpg');
    box-shadow: inset 100000px 100000px rgba(0,0,0,0.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    border: 2px blue solid;
    font size: 100px;  
    padding: 600px 600px;
    margin-top: 3500px; 
}
footer p{
    font-size: 100px;
}
footer button {
    width: 500px;
    height: 200px;
    font-size: 50px;
    margin-right: 50px;
    margin-left: 50px;
    color: white;
}
#yes {
    background-color: green;
    border: white 2px dotted;
}
#no {
    background-color: red;
    border: white 2px dotted;
}



    



    
    

    
    
    
