html, body, main {
    height: 100%;

}
/*my favorite quote*/
#hero {
    margin-top: 70px;
    background-image: url('../IMG/what%20are%20you%20looking%20at.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%; 
    text-align: center; 
}
/*About section*/
.about {
    margin-top: 40px; 
    margin-bottom: 40px;
    text-align: center; 
}
.about img {
    width: 100%; 
    padding-right: 50px; 
}
.col-md-3 {
    width: 25%; 
    text-align: center;
    border-radius: 
}
/*my interests*/
.interest {
    text-align: center; 
}
.interest h3 {
    font-family: 'Quicksand', sans-serif; 
} 


